.form-container {
  max-width: 400px;
  margin: 100px auto;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 15px;
}


.enviar {
  width: 100%;
}

.error__formulario {
  color: red;
  text-align: center;
}
fieldset{
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 15px;
  font-size: larger;
}
