<div class="form-container">
  <form [formGroup]="signUpForm" class="form" (ngSubmit)="onSubmit()">

    <mat-form-field class="input">
      <mat-label>Correo electrónico</mat-label>
      <input matInput
        placeholder="example@email.com"
        formControlName="email"
        required >
      @if (this.controlHasError('email','required')) {<mat-error *ngIf="">Debes completar este campo.</mat-error>}
      @else if (this.controlHasError('email','email') ) {<mat-error *ngIf="">Ingresa un email válido.</mat-error>}
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Ingresa tu contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'"
        placeholder="pass123$asdf"
        formControlName="pass"
        required>
      @if (this.controlHasError('pass','required')) {<mat-error *ngIf="">Debes completar este campo.</mat-error>}
      @else if (this.controlHasError('pass','minLength')) {<mat-error *ngIf="">La contraseña debe ser mayor de 8 digitos.</mat-error>}

      <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"  type="button" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Ingresa tu contraseña</mat-label>
      <input matInput [type]="hide2 ? 'password' : 'text'"
        placeholder="pass123$asdf"
        formControlName="passConfirm"
        required>
      @if (this.controlHasError('passConfirm','required')) {<mat-error *ngIf="">Debes completar este campo.</mat-error>}
      @else if (passwordMatchValidator(signUpForm)) {<mat-error *ngIf="">Las contraseñas no coinciden.</mat-error>}
      <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"  type="button" [attr.aria-pressed]="hide2">
        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div class="alternativas">
      <a class="alternativas__enlace" title="Crea tu cuenta" [routerLink]="['signup']" routerLinkActive="active">Aún no tengo cuenta</a>
    </div>

    <button mat-flat-button class="enviar" type="submit" [disabled]="signUpForm.invalid" color="custom-color">ENTRAR</button>

    <mat-error class="error__formulario"*ngIf="">Usuario/email o contraseña incorrectos.</mat-error>
  </form>
</div>
